<div class='mt-4'>
  <div class="row justify-content-center">
    <div class='col-6 '>
      <p>
        <strong>Name:</strong>
        <%= @restaurant.name %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @restaurant.address %>
      </p>

      <p>
        <strong>Category:</strong>
        <%= @restaurant.category %>
      </p>

      <p>
        <strong>Phone Number:</strong>
        <%= @restaurant.phone_number %>
      </p>
    
      <p>
        <strong>Reviews</strong></p>
      <ul>
        <% @reviews.each do |review| %>
          <li>
            <%= review.content %>
            <%= review.rating %>
            <%# <%= link_to 'Remove', restaurant_path(review), method: :delete, data: { confirm: 'Are you sure?'} %>
          </li>
        <% end %>
      </ul>

      <%= render 'reviews/new', restaurant: @restaurant, review: @review %>
      <br>
      <%= link_to 'Edit', restaurant_path(@restaurant), method: :patch, class: "btn btn-primary" %> |
      <%= link_to 'Back', restaurants_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>


